/* css styles */

/* To put a hero image on each page like on the lab website */
.hero-img {
    background-image: url(../images/pretty-pics/fish-school-waves-small-edit.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 20%;
    display: block;
  }
}




