/*-- scss:defaults --*/

$white:         #fff !default;
$gray-100:      #f5f5f8 !default;
$gray-200:      #eee !default;
$gray-300:      #dee2e6 !default;
$gray-400:      #ccc !default;
$gray-500:      #adb5bd !default;
$gray-600:      #888 !default;
$gray-700:      #495057 !default;
$gray-800:      #333 !default;
$gray-900:      #222 !default;
$black:         #000 !default;

$light:         #f9f8fe !default;
$dark:          $black !default;

$min-contrast-ratio:   1.9 !default;

$bigfish-red:     #ee1d35; // #B7322E
$bigfish-green:   #aed332;
$bigfish-pink:    #d64398;
$bigfish-orange:  #E9560C; // #F09318
$bigfish-blue:    #69cde7;
$dark-blue:       #1D2C5F;
$light-blue:      #1BACF2;

$primary:         $dark-blue;
$secondary:       $bigfish-blue;
$accent:          $bigfish-orange;
$ghost:           #f9f8fe; // off-White

$theme-colors: (
  "primary":          $primary,
  "secondary":        $secondary,
  "accent":           $accent,
  "ghost":            $ghost,
);

//#9EB0BE; // Cadet grey: #
//#b1cada; // Columbian blue: #

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-family-sans-serif:      "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           200 !default;
$font-weight-normal:          300 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$body-font-weight:            $font-weight-normal !default;

$body-bg:             transparent;      // The page background color.
$body-color:          $black;           // The page text color.

//$headings-font-family: "Barlow", !default;
//$headings-font-weight:        200 !default;
$font-size-root: 1.1rem;
$h4-font-size:   1.2rem;
$h3-font-size:   1.5rem;
$h2-font-size:   2.25rem;
$h1-font-size:   3.35rem;
$headings-line-height: 1.25em;

$toc-font-size:  0.6em;           // The font size for the page TOC.

$link-color:            shade-color($accent, 15%);         // The link color.
$link-hover-color:      shade-color($accent, 30%);   // The link color. on hover

$input-bg:       $light;   // The background color for HTML inputs.
$popover-bg:     $light;   // The background color for popovers (e.g. when a citation preview is shown).

// Fonts

// Code Blocks
$code-block-padding-left:         0.75em;
$code-block-bg:                   $light;
$code-block-bg-padding:           0.5em;

// Code Copy (enable code-copy: true)
$btn-code-copy-color:             $secondary;
$btn-code-copy-color-active:      $accent;

// Inline Code
$code-bg:         $light;   // The background color of inline code.
$code-color:      $primary;  // The text color of inline code.

$input-btn-padding-x:         1rem !default;
$btn-font-weight:             300 !default;

// Buttons
$btn-padding-x: 0.85em;
$btn-padding-y: 0.5em;

// Table of Contents
//$toc-color:                       $body-color;  // The color for table of contents text.
//$toc-font-size:                   $font-size-root;// The font-size for table of contents text.
//$toc-active-border:               $accent;     // The left border color for the currently active table of contents item.
//$toc-inactive-border:             $light-blue;  // The left border colors for inactive table of contents items.

// Layout
$content-padding-top:               0em;          // Padding before main content area (including sidebar, content, and TOC.

// Navigation
$dropdown-bg:                       $white;
$navbar-bg:                         $primary;
//$navbar-fg:                         $light;
$navbar-brand-font-size:            $h3-font-size;
$navbar-brand-font-weight:          400;
$nav-link-font-size:                $h3-font-size;
$nav-link-font-weight:              400;
$nav-link-lineheight:               120%;
$navbar-hl:                         $accent;
//$nav-link-hover-color:              $secondary;
$sidebar-bg:                        lighten($secondary, 15%);
$sidebar-fg:                        $black;
//$sidebar-hl:                        $secondary;
$footer-bg:                         $primary;
//$footer-fg:                         $light;
$footer-hl:                         $secondary;
$footer-link-hover-color:           $secondary;

/*-- scss:rules --*/

.page-columns > .column-screen {
  grid-column-start: screen-start;
}

.column-screen {
    &-padded {
        //margin-left: 1rem !important;
        //margin-right: 1rem !important;
        margin-left: min(max(0.75rem, calc(2vw)), 2rem) !important;
        margin-right: min(max(0.75rem, calc(2vw)), 2rem) !important;
    }
    &-nogap {
      margin-left: 0;
      margin-right: 0;
      gap: 0;
    }
    &-left {
        margin-left: 0;
        margin-right: min(max(0.5em, calc(5vw)), 2.5em);
    }
    &-right {
        margin-left: min(max(0.5em, calc(5vw)), 2.5em);
        margin-right: 0;
    }
  }

// Basic layout and spacing rules for paragraphs
.p, p {
  padding: 0.5em;
  margin: 0;
}

.p:first-child, p:first-child {
  margin-top: 1em;
}
/*
.p:last-child, p:last-child {
  margin-bottom: 1em;
}
*/

body, .body, p, .p, .homepage-p {
  font-weight: $body-font-weight;
  letter-spacing: 1px;
}

strong, .strong {
  font-weight: $font-weight-bold;
}

// Change ordered/unordered list spacing and colour
li {
  padding-left: 1.5em;
}
ol ::marker {
  color: var(--bs-secondary);
  font-size: 1.35em;
}

// Some custom classes for spacing out content
.spacer-2em {
  margin-top: 1em;
  margin-bottom: 1em;
}

.spacer-3em {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.spacer-5rem {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

// Styling for all headers
.h1, h1, .h2, h2 {
  color: $primary;
  border-bottom: none;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5em;
  margin-top: 1em;
}

.h3, h3, .h4, h4 {
  color: $primary;
  border-bottom: none;
  text-align: left;
  padding: 0.5em;
}

// First H2 heading of each page has a slightly larger space above it
main.content > section:first-of-type > h2:first-child,
main.content > section:first-of-type > .h2:first-child {
  margin-top: 1em;
}

// If you don't want the heading text to be in all caps
.no-caps {
  text-transform: none !important;
}

// Custom typography for the banner text on the homepage
.maintitle {
  // Font sizes are ordered as min, variable, max
  font-size: min(max(60px, calc(8vw)), 150px) !important;
  text-align: center;
  padding: 0% 3% 0% 3%;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
  color: $primary !important;
}

.new-subtitle {
  // Font sizes are ordered as min, variable, max
  font-size: min(max(40px, calc(3vw)), 60px) !important;
  text-align: center;
  padding: 0% 5% 0% 5%;
  line-height: 110%;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
  color: $primary !important;
}

.new-banner-text {
  // Font sizes are ordered as min, variable, max
  font-size: min(max(20px, calc(2vw)), 35px) !important;
  text-align: center;
  padding: 0% 5% 0% 5%;
  line-height: 110%;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
  color: $accent !important;
}

// For social media embedding
.linkedin-post,
.text-post-media,
.pinterest-rendered,
.twitter-tweet-rendered,
.instagram-media,
.mastodon-embed {
  width: 100% !important;
}

//.blockquote.text-post-media-registered {
//    margin: 0 !important;
//    padding: 0 !important;
//    border-left: 0 !important;
//}

// Custom classes for homepage text (slightly larger than regular) and feature text (slightly larger again)
.feature-text {
  font-size: calc(1.25 * $font-size-root);
  text-align: center;
  color: $primary !important;
}

.homepage-p {
  font-size: calc(1.1 * $font-size-root);
}

// Picture caption text class
.caption-p {
  font-size: calc(0.9 * $font-size-root);
  color: shade-color($secondary, 25%) !important;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

// For placing captions directly under pictures
.quarto-figure {
  margin-bottom: 0.25em;
}

// Custom navbar (top) and footer (bottom) styling
.navbar {
  font-weight: $headings-font-weight;
  font-size: 1.25em;
  line-height: 160%;
  padding: 0.5em 0.5em;
}

.nav-footer-left {
  text-align: center;
}
@media(max-width: 768px) {
  .nav-footer-left {
    margin-bottom:1em;
    flex:100%;
  }
}
@media(min-width: 768px) {
  .nav-footer-left {
    text-align: left;
  }
}

/* Make the logo in the navbar look nice */
.navbar-brand-container {
    margin-top: 0px;
}

.navbar-brand-container img {
    height : 1.5em;
    /* width : 300%; */
}

.navbar-logo {
  max-height: 1.5em;
  width: auto;
  padding-right: 10px;
}

.navbar {
    margin-bottom: 0; /* Remove any default margin-bottom for the navbar */
}

.navbar-brand:hover, .navbar-brand:focus, .nav-link:hover, .nav-link:focus, .nav-footer a:hover {
  /* Change links for background colours */
  color: $accent !important;
}

ul.navbar-nav.navbar-nav-scroll.me-auto li.nav-item.dropdown ul.dropdown-menu.show > li {
  padding-left: 0em !important;
}

.nav-footer {
  align-items: center;
}

.nav-footer-center {
  flex-basis: 40vw;
}

// Hero image styling
#quarto-content > * {
/* Hero image is pinned to the navbar without a gap */
  padding-top: 0;
  margin-top: 0;
}

.hero-strip-homepage {
  //width: calc(100vw);
  //scrollbar-gutter: stable both-edges;
  // overflow: hidden;
  width: calc(var(--vw, 1vw) * 100);
}

.hero-strip-page {
  height: 200px;
  scrollbar-gutter: stable both-edges;
  //width: calc(var(--vw, 1vw) * 100);
}

.hero-strip-page:before {
  filter: brightness(50%); /* dims the image slightly */
}

// Custom sidebar styling
.sidebar-navigation a:hover, {
  /* Change links for background colours */
  color: shade-color($accent, 10%) !important;
}

/* Image and PDF tiles */
.img-tile {
  object-fit: cover;
  height: 12.5vw;
  width: 12.5vw;
  object-position: 50% 50%;
}

.constrain-pdf-img {
  object-fit: cover;
  object-position: 50% 0%;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.img-tile-lg {
  object-fit: cover;
  object-position: 50% 50%;
}

.img-container > p {
  padding: 0 !important;
  margin: 0 !important;
}

/* Card element styling */
.card-text {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.card-title {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

// All button formatting
.btn {
	display: inline-block;
	font-weight: inherit;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	line-height: 1.25;
	border-radius: 0.25rem;
	transition: all 0.15s ease-in-out;
  padding: 0.7em 1.1em 0.7em 1.1em;
  margin: 0.25em;
  text-decoration: none;
  &-primary {
    background-color: $primary;
    border-color: shade-color($primary, 10%);
    font-size: $h3-font-size;
    color: $ghost;
    &:hover {
      background-color: shade-color($primary, 50%);
      border-color: shade-color($primary, 60%);
    }
  }
  &-secondary {
    background-color: $secondary;
    border-color: shade-color($secondary, 10%);
    font-size: $h3-font-size;
    color: $black;
    &:hover {
      background-color: shade-color($secondary, 20%);
      border-color: shade-color($secondary, 30%);
    }
  }
  &-accent {
    background-color: $accent;
    border-color: shade-color($accent, 10%);
    font-size: $h4-font-size;
    color: $black;
    &:hover {
      background-color: shade-color($accent, 30%);
      border-color: shade-color($accent, 40%);
    }
  }
}

.btn-group {
  .dropdown-menu {
    border-top-width: 0;
  }

  .dropdown-toggle {
    &.btn-primary ~ .dropdown-menu {
      background-color: $primary;
      border-color: shade-color($primary, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($primary, 16%);
      }
    }

    &.btn-secondary ~ .dropdown-menu {
      background-color: $secondary;
      border-color: shade-color($secondary, 10%);

      .dropdown-item {
        color: $body-color;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($secondary, 16%);
      }
    }

    &.btn-success ~ .dropdown-menu {
      background-color: $success;
      border-color: shade-color($success, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($success, 16%);
      }
    }

    &.btn-info ~ .dropdown-menu {
      background-color: $info;
      border-color: shade-color($info, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($info, 16%);
      }
    }

    &.btn-warning ~ .dropdown-menu {
      background-color: $warning;
      border-color: shade-color($warning, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($warning, 16%);
      }
    }

    &.btn-danger ~ .dropdown-menu {
      background-color: $danger;
      border-color: shade-color($danger, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($danger, 16%);
      }
    }
  }
}

// Image containers for cards and their descriptions *
.image-card {
    box-shadow: 10px 10px 5px $gray-400;
    width: 15vw;
    min-width: 150px;
}

.image-card-sideways {
    box-shadow: 10px 10px 5px $gray-400;
    height: 15vw;
    min-height: 150px;
}

.how-to-play-block {
    position: relative;
    border: 5px dashed $accent;
    border-radius: 1em;
    padding: 0px 0px 1.25em 0px;
}

hr { // means horizontal rule
  border: none;
  height: 3px;
  /* Set the hr color */
  background-color: #333;  /* Modern Browsers */
}

.timertext {
  color: $accent;
  font-weight: 750;
  /* Font sizes are ordered as min, variable, max */
  font-size: min(max(1.5rem, calc(4vw)), 2.5rem) !important;
  margin: 0.25em 0px 0px 0px;
  padding: 0px;
}

.timerlabel {
  /* Font sizes are ordered as min, variable, max */
  font-size: min(max(1rem, calc(2vw)), 1.5rem) !important;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
}

.timerBox {
  background-color: transparent;
  border: $primary 2px solid;
  border-radius: 15px;
  box-shadow: 0 5px 10px $gray-300;
  gap: 0px;
  margin: 0px;
  padding: 0px;
}

/* Team page styling */

.headshot {
  clip-path: circle(50% at 50% 50%);
  object-fit: cover;
  height: 8.5vw;
  width: 8.5vw;
  min-width: 90px;
  min-height: 90px;
  object-position: 50% 50%;
}

.headshot-lg {
  clip-path: circle(50% at 50% 50%);
  object-fit: cover;
  height: 100%;
  width: auto;
  object-position: 50% 50%;
}

.team-name {
  color: black;
}

.team-name:a {
  text-decoration: none;
}

.position-title {
  color: black;
  font-style: italic;
  padding: 0.25em;
}

.gslide-description .gslide-desc {
  color: $body-color;
  background-color: $light;
}

.youtube-box {
  position: relative;
  width: 100%;
  height: 0px;
  margin: 0px;
  padding-top: 55%; /* This is your aspect ratio */
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.youtube {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

// TESTING STUFF

.show-grid {
  border: solid 2px;
}

/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


@media screen and (min-width: 576px) and (max-width: 768px) {
  .column-screen-content {
    margin-left: min(max(0.5em, calc(5vw)), 2em);
    margin-right: min(max(0.5em, calc(5vw)), 2em);
  }
}
*/


