/*-- scss:defaults --*/

$white:         #fff !default;
$gray-100:      #f5f5f8 !default;
$gray-200:      #eee !default;
$gray-300:      #dee2e6 !default;
$gray-400:      #ccc !default;
$gray-500:      #adb5bd !default;
$gray-600:      #888 !default;
$gray-700:      #495057 !default;
$gray-800:      #333 !default;
$gray-900:      #222 !default;
$black:         #000 !default;

$light:         #f9f8fe !default;
$dark:          $black !default;

$min-contrast-ratio:   1.9 !default;

$bigfish-red:     #ee1d35; // #B7322E
$bigfish-green:   #aed332;
$bigfish-pink:    #d64398;
$bigfish-orange:  #E9560C; // #F09318
$bigfish-blue:    #69cde7;
$dark-blue:       #1D2C5F;
$light-blue:      #1BACF2;

$primary:         $dark-blue;
$secondary:       $bigfish-blue;
$accent:          $bigfish-orange;
$ghost:           #f9f8fe; // off-White

$theme-colors: (
  "primary":          $primary,
  "secondary":        $secondary,
  "accent":           $accent,
  "ghost":            $ghost,
);

//#9EB0BE; // Cadet grey: #
//#b1cada; // Columbian blue: #

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-family-sans-serif:      "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           200 !default;
$font-weight-normal:          300 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$body-font-weight:            $font-weight-normal !default;

$body-bg:             transparent;      // The page background color.
$body-color:          $black;           // The page text color.

//$headings-font-family: "Barlow", !default;
//$headings-font-weight:        200 !default;
$font-size-root: 1.2rem;
$h4-font-size:   1.2rem;
$h3-font-size:   1.5rem;
$h2-font-size:   2.25rem;
$h1-font-size:   3.35rem;
$headings-line-height: 1.25em;

$toc-font-size:  0.6em;           // The font size for the page TOC.

$link-color:            shade-color($accent, 15%);         // The link color.
$link-hover-color:      shade-color($accent, 30%);   // The link color. on hover

$input-bg:       $light;   // The background color for HTML inputs.
$popover-bg:     $light;   // The background color for popovers (e.g. when a citation preview is shown).

// Fonts

// Code Blocks
$code-block-padding-left:         0.75em;
$code-block-bg:                   $light;
$code-block-bg-padding:           0.5em;

// Code Copy (enable code-copy: true)
$btn-code-copy-color:             $secondary;
$btn-code-copy-color-active:      $accent;

// Inline Code
$code-bg:         $light;   // The background color of inline code.
$code-color:      $primary;  // The text color of inline code.

$input-btn-padding-x:         1rem !default;
$btn-font-weight:             300 !default;

// Buttons
$btn-padding-x: 0.85em;
$btn-padding-y: 0.5em;

// Table of Contents
//$toc-color:                       $body-color;  // The color for table of contents text.
//$toc-font-size:                   $font-size-root;// The font-size for table of contents text.
//$toc-active-border:               $accent;     // The left border color for the currently active table of contents item.
//$toc-inactive-border:             $light-blue;  // The left border colors for inactive table of contents items.

// Layout
$content-padding-top:               0em;          // Padding before main content area (including sidebar, content, and TOC.

// Navigation
$dropdown-bg:                       $white;
$navbar-bg:                         $primary;
//$navbar-fg:                         $light;
$navbar-hl:                         $accent;
//$nav-link-hover-color:              $secondary;
$sidebar-bg:                        lighten($secondary, 15%);
$sidebar-fg:                        $black;
//$sidebar-hl:                        $secondary;
$footer-bg:                         $primary;
//$footer-fg:                         $light;
$footer-hl:                         $secondary;
$footer-link-hover-color:           $secondary;

/*-- scss:rules --*/

.gslide-description .gslide-desc {
  color: $body-color;
  background-color: $light;
}

.h1, h1, .h2, h2 {
  color: $primary;
  border-bottom: none;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5em;
  margin-top: 1em;
}

body, .body, p, .p, .homepage-p {
  font-weight: $body-font-weight;
  letter-spacing: 1px;
}

strong, .strong {
  font-weight: $font-weight-bold;
}

// First H2 heading of each page has a slightly larger space above it
main.content > section:first-of-type > h2:first-child,
main.content > section:first-of-type > .h2:first-child {
  margin-top: 1em;
}

// If you don't want the heading text to be in all caps
.no-caps {
  text-transform: none !important;
}


.h3, h3, .h4, h4 {
  color: $primary;
  border-bottom: none;
  text-align: left;
  padding: 0.5em;
}

// Custom typography for the banner text on the homepage
.maintitle {
  // Font sizes are ordered as min, variable, max
  font-size: min(max(60px, calc(8vw)), 150px) !important;
  text-align: center;
  padding: 0% 3% 0% 3%;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
  color: $primary !important;
}

.newsubtitle {
  // Font sizes are ordered as min, variable, max
  font-size: min(max(25px, calc(3vw)), 50px) !important;
  text-align: center;
  padding: 0% 5% 0% 5%;
  line-height: 110%;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
  color: $primary !important;
}

// Custom classes for homepage text (slightly larger than regular) and feature text (slightly larger again)
.feature-text {
  font-size: calc(1.25 * $font-size-root);
  text-align: center;
  color: $primary !important;
  line-height: 110%;
}

.homepage-p {
  font-size: calc(1.1 * $font-size-root);
}

.caption-p {
  font-size: calc(0.9 * $font-size-root);
  color: shade-color($secondary, 25%) !important;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

.quarto-figure {
  margin-bottom: 0.25em;
}

.navbar {
  font-weight: $headings-font-weight;
  font-size: 1.25em;
  line-height: 150%;
  padding: 0.5em 0.5em;
}

.nav-footer {
  align-items: center;
}

#quarto-content > * {
/* Hero image is pinned to the navbar without a gap */
  padding-top: 0;
  margin-top: 0;
}

.navbar-brand:hover, .navbar-brand:focus, .nav-link:hover, .nav-link:focus, .nav-footer a:hover {
  /* Change links for background colours */
  color: $accent !important;
}

.sidebar-navigation a:hover, {
  /* Change links for background colours */
  color: shade-color($accent, 10%) !important;
}

// All button formatting
.btn {
	display: inline-block;
	font-weight: inherit;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	line-height: 1.25;
	border-radius: 0.25rem;
	transition: all 0.15s ease-in-out;
  padding: 0.7em 1.1em 0.7em 1.1em;
  margin: 0.25em;
  text-decoration: none;
  &-primary {
    background-color: $primary;
    border-color: shade-color($primary, 10%);
    font-size: $h3-font-size;
    color: $ghost;
    &:hover {
      background-color: shade-color($primary, 50%);
      border-color: shade-color($primary, 60%);
    }
  }
  &-secondary {
    background-color: $secondary;
    border-color: shade-color($secondary, 10%);
    font-size: $h3-font-size;
    color: $black;
    &:hover {
      background-color: shade-color($secondary, 20%);
      border-color: shade-color($secondary, 30%);
    }
  }
  &-accent {
    background-color: $accent;
    border-color: shade-color($accent, 10%);
    font-size: $h4-font-size;
    color: $black;
    &:hover {
      background-color: shade-color($accent, 30%);
      border-color: shade-color($accent, 40%);
    }
  }
}

.btn-group {
  .dropdown-menu {
    border-top-width: 0;
  }

  .dropdown-toggle {
    &.btn-primary ~ .dropdown-menu {
      background-color: $primary;
      border-color: shade-color($primary, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($primary, 16%);
      }
    }

    &.btn-secondary ~ .dropdown-menu {
      background-color: $secondary;
      border-color: shade-color($secondary, 10%);

      .dropdown-item {
        color: $body-color;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($secondary, 16%);
      }
    }

    &.btn-success ~ .dropdown-menu {
      background-color: $success;
      border-color: shade-color($success, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($success, 16%);
      }
    }

    &.btn-info ~ .dropdown-menu {
      background-color: $info;
      border-color: shade-color($info, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($info, 16%);
      }
    }

    &.btn-warning ~ .dropdown-menu {
      background-color: $warning;
      border-color: shade-color($warning, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($warning, 16%);
      }
    }

    &.btn-danger ~ .dropdown-menu {
      background-color: $danger;
      border-color: shade-color($danger, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($danger, 16%);
      }
    }
  }
}

// Image containers for cards and their descriptions *
.image-card {
    box-shadow: 10px 10px 5px $gray-400;
    width: 15vw;
    min-width: 150px;
}

.how-to-play-block {
    position: relative;
    border: 5px dashed $accent;
    border-radius: 1em;
    padding-block: 0.5em;
}

hr { // means horizontal rule
  border: none;
  height: 3px;
  /* Set the hr color */
  background-color: #333;  /* Modern Browsers */
}



