@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #f1f1f1;
  font-family: 'Noto Sans JP', sans-serif;
}

/* TIMER STYLES */
.timeContainer {
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeContainer .wrapper {
  width: 800px;
  padding: 20px
  max-height: 400px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.timeContainer .wrapper div {
  color: #ccc;
  text-align: center;
  width: 24%;
  height: 150px;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.timeContainer .wrapper div:first-child{
  background: #00A3D0;
  color: white;
}

.timeContainer .wrapper div:nth-child(2){
  background: #00A3D0;
  color: white;
}

.timeContainer .wrapper div:nth-child(3){
  background: #1C1C1C;
  color: #fff;
}

.timeContainer .wrapper div:last-child{
  background: #1C1C1C;
  color: #fff;
}

.timeContainer .wrapper div h2 {
  font-size: 4.4rem;
}

.circleDiv {
  position: fixed;
  z-index: -1;
  top: calc(50% - 237px);
  left: calc(-50% + 474px);
  width: 474px;
  height: 474px;
  border-radius: 100%;
  border: 6px dashed #00A3D0;
  animation: rotatingCircle infinite linear 60s;
}

@keyframes rotatingCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MOUSE TRAIL STYLE */
#cursor {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  pointer-events: none;
  user-select: none;
  backdrop-filter: invert(100%);
}